<!--团队任务页面框架-->

<!--控制器界面部分-->
<div id='pageTask' ng-controller='pageTask' class='container-fluid'>

    <!--补充的css样式，都以控制器开头-->
    <style>
        .pageTask-temp {
            font-weight: bold;
        }
    </style>

    <!--html界面-->
    <div class='col-xs-10 col-sm-10 col-md-10 col-lg-8 col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-2' style='margin-top:2em'>
        <!--      按钮组-->
        <div class="row">
            <button type="button" class="btn btn-warning navbar-btn" ng-click='addTask()'>添加任务</button>
        </div>
        <!--      列表组-->
        <div class="row">
            <div class="panel panel-default" ng-repeat='tsk in tasks' style="margin-bottom:0.75em">
                <div class="panel-body">
                    <div class='col-xs-6' style="padding:0">
                        <!--  设置状态下拉-->
                        <span class="dropdown">
                            <a href="#" class="dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                <span style="cursor:pointer" ng-bind='tsk.state || states[0]'></span>
                        <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            <li ng-repeat='stt in states' ng-click='setState(tsk.key,$index)'>
                                <a href="#" ng-bind='stt'></a>
                            </li>
                        </ul>
                        </span>
                        <span ng-bind='tsk.title' style="font-weight:bold;margin-left:1em"></span>
                    </div>
                    <div class='col-xs-6' style="text-align:right" style="padding:0">
                        <span ng-bind="tsk.author.nick"></span>
                        <span ng-bind="tsk.time | date:'MM-dd/hh:mm'"></span>
                        <span class='fa fa-remove fa-1x' style="cursor:pointer;margin-left:1em;color:#AAA" ng-click="delTsk(tsk.key)"></span>
                    </div>
                </div>
                <div class="panel-footer" style="padding:4px 15px">
                    <span class='fa fa-plus fa-1x' style="cursor:pointer;margin-right:1em;color:#AAA" ng-click="addWorker(tsk.key)"></span>
                    <span ng-repeat='wk in tsk.workers' ng-bind='wk.nick' style="color:#0A0;margin-right:1em"></span>
                </div>
            </div>
        </div>
    </div>
</div>


<!--控制器代码部分-->
<script>
    (function() {
        angular.module('app').controller('pageTask', ['$rootScope', '$scope', fn]);

        function fn($rootScope, $scope) {
            $rootScope['pageTask'] = $scope;

            //载入外部依赖
            _cfg.load('swal');
            _cfg.load('toastr');

            //如果未登录自动跳到登陆
            var xdat = $rootScope.xdat;
            if (!xdat.authData) {
                $rootScope.topNavbar.changePage(0);
            };

            //添加一个任务
            $rootScope.addTask = function() {
                var taskid = $.uuid();
                var ref = new Wilddog("https://teamtask.wilddogio.com");
                var tasks = ref.child("tasks");
                var newtask = tasks.push({
                    title: '未命名任务-' + Math.floor(Math.random() * 1000),
                    time: Number(new Date()),
                    uid: xdat.authData.uid,
                });
            };

            //读取任务列表
            $rootScope.getTasks = function() {
                var ref = new Wilddog("https://teamtask.wilddogio.com/tasks");
                ref.on("value", function(snapshot, err) {
                    $scope.tasks = snapshot.val();
                    for (var key in $scope.tasks) {
                        var tsk = $scope.tasks[key];
                        //修改时间格式
                        tsk.time = new Date(tsk.time);
                        tsk.key = key;

                        //读取每个作者信息
                        $rootScope.getAuthor(key);

                        //读取每个工人的信息
                        if (tsk.workers) {
                            for (var wkey in tsk.workers) {
                                $rootScope.getWorker(key, wkey);
                            };
                        };
                    };
                    _fns.applyScope($scope);
                }, function(errorObject) {
                    toastr.info('载入任务列表失败:' + errorObject);
                });
            };
            $rootScope.getTasks();

            //获取tsk的作者信息
            $rootScope.getAuthor = function(tkey) {
                var tsk = $scope.tasks[tkey];
                var usrref = new Wilddog("https://teamtask.wilddogio.com/users");
                usrref.child(tsk.uid).on("value", function(snapshot, err) {
                    $scope.tasks[tkey].author = snapshot.val();
                    _fns.applyScope($scope);
                });
            };

            //获取tsk的worker信息
            $rootScope.getWorker = function(tkey, wkey) {
                var tsk = $scope.tasks[tkey];
                var usrref = new Wilddog("https://teamtask.wilddogio.com/users");
                usrref.child(wkey).on("value", function(snapshot, err) {
                    $scope.tasks[tkey].workers[wkey] = snapshot.val();
                    _fns.applyScope($scope);
                });
            };

            //删除tsk
            $rootScope.delTsk = function(key) {
                var ref = new Wilddog("https://teamtask.wilddogio.com/tasks/" + key);
                ref.remove(function(err, dat) {
                    if (err) {
                        swal('删除失败：' + err);
                    } else {
                        _fns.applyScope($scope);
                    }
                })
            };

            //设置状态
            $rootScope.states = ['未开始', '进行中', '待测试', '待修复', '已完成'];
            $rootScope.setState = function(key, stt) {
                var ref = new Wilddog("https://teamtask.wilddogio.com/tasks/" + key);
                ref.update({
                    state: $rootScope.states[stt],
                }, function(err, dat) {
                    if (err) {
                        swal('设置状态失败：' + err);
                    } else {
                        _fns.applyScope($scope);
                    };
                })
            };

            //根据邮箱获取用户uid
            $rootScope.addWorker = function(tkey) {
                swal({
                    title: "",
                    text: '输入他的邮箱',
                    type: 'input',
                    showCancelButton: true,
                }, function(iptmail) {
                    if (iptmail) {
                        var ref = new Wilddog("https://teamtask.wilddogio.com/umail2uid/" + md5(iptmail));
                        ref.once('value', function(dat, err) {
                            if (err) {
                                swal('获取用户ID失败:' + err);
                            } else {
                                var uid = dat.val();
                                var wkref = new Wilddog('https://teamtask.wilddogio.com/tasks/' + tkey + '/workers');
                                var dt = {};
                                dt[uid] = uid;
                                wkref.update(dt, function(err, dat) {
                                    console.log('addworks', err, dat);
                                });
                                _fns.applyScope($scope);
                            }
                        });
                    };
                });
            };



            //---end--
        };
    })();
</script>










<!---->
