<!--顶部导航栏-->

<!--控制器界面部分-->
<div id='topNavbar' ng-controller='topNavbar' class='container-fluid'>

    <!--补充的css样式，都以控制器开头-->
    <style>
        .topNavbar-menu {
            padding: 15px 3em
        }

        #navBox .dropdown-menu li {
            padding: 12px;
            text-align: center;
        }

        #navBox .dropdown-menu .act {
            background: #EEE;
        }
    </style>

    <!--顶部导航栏-->
    <div id='navBox' class='container-fluid'>
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" ui-sref="home" href="#" style="margin-right:1em">TeamTask</a>
                </div>
                <div id="navbar" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li ng-class="{true:'active',false:''}[curPage=='pageTeams']" ng-click='changePage("pageTeams")'>
                            <a href="#" style="padding: 15px 2em">我的团队</a>
                        </li>
                        <li ng-class="{true:'active',false:''}[curPage=='pageTasks']" ng-click='changePage("pageTasks")'>
                            <a href="#" style="padding: 15px 2em">我的任务</a>
                        </li>
                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                        <li class="btn-group">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                <span ng-bind='$root.xdat.authData.user.nick || "未命名"'>用户名</span>
                                <span class="caret"></span></a>
                            <ul class="dropdown-menu" style="padding:0;overflow:hidden">
                                <li ng-class="{true:'act',false:''}[curPage=='pageSet']" ng-click='changePage("pageSet")'><a href="#">个人设置</a></li>
                                <li ng-class="{true:'act',false:''}[curPage=='pageLogin']" ng-click='changePage("pageLogin")'><a href="#">登录注册</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <!--切换页面-->
    <div id='pageBox' class='container-fluid'>
        <div  id='pageCtrlr' ng-include='curPageUrl' redirCtrlr='aa'></div>
    </div>
</div>


<!--加载外部控制器js文件-->
<script>
    _fns.addCtrlrJs('topNavbar');
</script>










<!---->
