<!--二维码列表的页面框架-->

<div id='pagelist' ng-controller='pagelist' class='container-fluid'>
  <!--补充的css样式，都以控制器开头-->
  <style>
    .pagelist-temp {
      font-weight: bold;
    }

    .list-group li {
      font-size: 12px;
      height: 36px;
      padding: 10px;
    }
  </style>

  <!--控制器html界面部分-->
  <div class='col-xs-12 col-sm-12 col-md-10 col-lg-8 col-md-offset-1 col-lg-offset-2'>

    <!--    按钮-->
    <div class="btn btn-success" ng-click='addpage()'>添加页面</div>

    <!--    页面列表-->
    <div style="margin-top:15px">
      <div class="panel panel-default" ng-repeat='page in pages' style="margin-top:12px;margin-bottom:12px">

        <!--        页面标题-->
        <div class="panel-heading" style="height:40px">
          <div class='col-xs-10'>
            <span ng-bind='page.name'>未命名页面</span>:
            <span ng-bind='page.key'> 页面值 </span>
          </div>
          <div class="col-xs-2" style=" text-align:right;cursor:pointer">
            <span class="fa fa-remove" ng-click='removepage(page.key)'></span>
          </div>
        </div>

        <div class="list-body" style="padding:5px">
          <div class="btn btn-primary btn-sm" ng-click='addticket(page.key)'>添加优惠券</div>
        </div>

        <!--        优惠券列表-->
        <ul class="list-group">
          <li class="list-group-item" ng-repeat='ticket in page.tickets'>
            <div class='col-xs-10' ng-bind='ticket.key'>未知key优惠券</div>
            <div class="col-xs-2" style=" text-align:right;cursor:pointer">
              <span class="fa fa-remove" ng-click='removeticket(page.key,ticket.key)'></span>
            </div>
          </li>
        </ul>

      </div>
    </div>

  </div>

  <!--  end-->
</div>

<!--加载外部控制器js文件-->
<script>
  $.addCtrlrJs('pagelist');
</script>
